.wrapper {
    width: 60%;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%
    }
}

.fieldCombo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fieldCombo > * {
    margin-right: 5px;
}

.error {
    font-size: 0.8rem;
    color: red;
    display: block;
}