.profile-card {
  height: 370px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.25rem;
  margin-bottom: 10px;
  min-width: 318px !important;
}

.cardTitle {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.profile-cardBody {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.flexed {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.image-container {
  margin: 0 auto;
  height: 200px;
  vertical-align: middle;
  padding-top: 27px;
}

.image-container img {
  display: block;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

.description-box {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.view-button {
  background: none !important;
  color: #007bff;
  border: none !important;
  outline: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

.view-button:focus {
  outline: none;
}

.view-button:hover {
  text-decoration: underline;
  color: #0056b3;
}
