.card {
  height: 420px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.25rem;
  margin-bottom: 10px;
  min-width: 318px !important;
}

.card:hover {
  cursor: pointer;
}

.card:hover #project-title {
  text-decoration: underline;
  color: #0056b3;
}

.card-border {
  padding: 20px;
}

.card-body {
  margin-top: 20px;
}

.card-tag {
  width: min-content;
  margin: 5px;
  color: #007bff;
  /* box-sizing: content-box; */
  /* width: 30px; */
  /* border-radius: 0.25rem; */
  /* justify-content: center; */
  /* background-color: #c0c0c0; */
}

.flexed {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project-image-container {
  margin: 0 auto;
  height: 165px;
  vertical-align: middle;
}

.project-image-container img {
  display: block;
  max-width: 316px;
  max-height: 165px;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}
