.card {
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 10px;
  min-width: 318px !important;
}

.card:hover {
  cursor: pointer;
}

.card:hover #project-title {
  text-decoration: underline;
  color: #0056b3;
}

.description-box {
  color: #808080;
}

.like-button {
  padding-left: 20px;
  padding-bottom: 30px;
}

.card-border {
  padding-left: 20px;
  padding-top: 30px;
}

.card-body {
  margin-top: 10px;
}

.card-tag {
  width: min-content;
  margin: 5px;
  padding-left: 20px;
  color: #007bff;
  /* box-sizing: content-box; */
  /* width: 30px; */
  /* border-radius: 0.25rem; */
  /* justify-content: center; */
  /* background-color: #c0c0c0; */
}

.flexed {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project-image-container {
  margin-left: auto;
  padding-right: 40px;
  padding-top: 20px;
  height: 90px;
}

.project-image-container img {
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
}
