.landing-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.stats-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 250px;
  margin-left: 250px;
}

.stats-section.mobile {
  display: flex;
  justify-content: space-between;
}

.change {
  width: 50%;
  float: left;
}

.illustration {
  width: 50%;
  float: left;
}

.landing-nav {
  display: flex;
  flex-direction: row;
  margin-right: px;
  margin-top: 10px;
}

.yellow-row {
  background-color: #f8e571;
}

.white-row {
  background-color: white;
}

.think-section {
  width: 45%;
  margin-top: 40px;
  margin-left: 40%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.think-section.mobile {
  margin-top: 400px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 80px;
}

.think-section h1 {
  color: #000000;
  line-height: 5rem;
}

.think-section p {
  font-size: 15pt;
  line-height: 2.5rem;
}

.cards-section {
  margin-left: 10%;
  margin-right: 10%;
}

.cards-section.projects {
  /* margin-bottom: 80px; */
}

.cards-section.profiles {
  margin-bottom: 150px;
}

.landing-banner-container {
  position: relative;
}

.landing-banner {
  display: flex;
  flex-direction: row;
  height: 550px;
}

.landing-banner h1 {
  margin-left: 10%;
  margin-top: 100px;
  margin-right: 5%;
  width: 50%;
  font-size: 55pt;
  font-weight: 650;
  color: #000000;
}

.landing-banner.mobile h1 {
  margin-right: 1%;
  font-size: 34pt;
}

.logo-image-container {
  width: 450px;
  margin-top: 70px;
  margin-right: 18%;
}

.logo-image-container.mobile {
  margin-right: 5%;
  margin-top: 20px;
}

.logo-image-container.mobile img {
  height: auto;
}

.logo-image-container img {
  display: block;
  max-width: 450px;
  width: 110%;
  height: 85%;
}

.registration-box {
  background-color: white;
  position: absolute;
  left: 10%;
  top: 65%;
  padding: 15px 20px;
  /* min-width: 25%; */
  width: 330px;
  height: auto;
  border: 8px solid black;
}
