.landing-brand {
  display: flex;
  flex: 1;
}

.landing-brand h2 {
  margin: 0;
  margin-left: 50;
  /* font-family: 'Abril Fatface', cursive; */
}

.submit-button {
  background-color: #ffe03f !important;
  color: black !important;
  border-radius: 0% !important;
  border-width: 0pt !important;
}

.landing-style {
  background-color: white !important;
}

.about-button {
  background-color: white !important;
  color: black !important;
  border-radius: 0% !important;
  border-width: 0pt !important;
  margin-right: 10px;
}
