:root {
    /* colors */
    --color-positive: #27ae60;

    /* shadows */
    --shadow-default: 0 2px 4px 0 rgba(0,0,0,0.10);
    --shadow-lift: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);

    /* button sizes */
}


html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

/* buttons */

.defBtn {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1rem;
    color: white;
    background-color: var(--color-positive);
    border: none;
    box-shadow: var(--shadow-default);
    transition: box-shadow 0.3s ease-in-out;
}

.defBtnLg {
    padding: 5px 15px;
    font-size: 1.5rem;
}

.defBtn:hover {
    box-shadow: var(--shadow-lift)
}

/* animations */

.fade-in-animation {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}