.formStyle {
  padding-right: 40%;
  padding-left: 10%;
}

.formStyle p {
  color: #808080;
  font-weight: bold;
}

.textStyle {
  font-weight: bold;
}

.inputStyle {
  margin-bottom: 20px;
}

.titleStyle {
  padding-right: 30%;
  padding-left: 10%;
  padding-bottom: 20px;
}

.progressbar {
  position: relative;
  height: 30px;
  width: 79%;
  border-radius: 50px;
  border: 1px solid #ced4da;
  background-color: white;
}

.filler {
  background: #ffdd00;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.nextButton {
  margin-top: 20px;
  float: right;
}
