.picture {
    border-radius: 50%;
    max-height: 80px;
    object-fit: cover;
}

.pictureFlex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pictureFlexItem {
    margin-left: 10px;
}

.removePicture {
    cursor: pointer;
    font-weight: bold;
    color: #c0392b;
}

.uploadNewPicture {
    cursor: pointer;
    font-weight: bold;  
    color: #2980b9;
}

.spinner {
    font-size: 0.8rem;
}