.dashboard {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    /* min-height: 50vh; */
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 10px;
    }

    .sidebar {
        border-radius: 5px;
    }

    .rightPanel {
        border: 1px solid var(--color-grey);
        border-radius: 5px;
        border-left-width: 1px!important;
    }
    
}

.sidebar {
    border: 1px solid var(--color-grey);;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.rightPanel {
    padding: 25px;
    border: 1px solid var(--color-grey);
    border-left-width: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebarItem {
    all: unset;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-subtle); 
}

.sidebarItem:focus {
    outline-color: var(--color-grey);
    outline-width: 3px;
}

.sidebarItem:hover {
    background-color: var(--color-subtle);
}