.fields {
    width: 100%;
    display: flex;
    align-items: baseline;
}


.field {
    width: 100%;
    margin-right: 10px;
}

/* @media (max-width: 768px) {
    .fieldsButtonsCombo {
        width: 100%
    }
} */

.isPrimary {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.primary {
    margin-top: 15px;
}

.addRemove {
    margin-top: 25px;
    align-self: center;
    display: flex;
    margin-left: 30px;
}

.addRemove > * {
    margin-right: 5px;
}